* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* NAVBAR */
.nav-item {
  position: relative;
}
.nav-item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.4s ease, left 0.4s ease;
}
.nav-item:hover::before {
  width: 100%;
  left: 0;
}
/* HERO SECTION */
.hero-section-css {
  background: url("../public/svg/hero.svg") no-repeat center center;
  background-size: cover;
  position: relative;
}
.hero-section-css::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    black,
    transparent 40%,
    transparent 10%,
    black
  );
  z-index: 5;
}
