/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100svw;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #495e89;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #495e89;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #495e89 transparent;
}

.expolre-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.expolre-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}
.custom-shape-divider-bottom-1724591147 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724591147 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 700px;
}

.custom-shape-divider-bottom-1724591147 .shape-fill {
  fill: black;
}
